<div class="col-xs-12 content">
  <div class="col-xs-12 text-center">
    <h4>Thank you for helping us serve you more efficiently</h4>
    <h6>Just fill-up the following details and get going</h6>
  </div>
  <div class="center-items text-center">
      <mat-form-field color="primary" style="width: 100%" class="">
          <input type="text" matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field style="width: 100%" class="">
          <input type="email" matInput placeholder="Email Address">
        </mat-form-field>
        <mat-form-field style="width: 100%" class="">
            <input type="password" matInput placeholder="Password">
        </mat-form-field>
        <mat-form-field style="width: 100%" class="">
            <input type="password" matInput placeholder="Confirm Password">
        </mat-form-field>
        <mat-form-field style="width: 100%" class="">
            <input type="number" matInput placeholder="Mobile Number">
        </mat-form-field>
            <button mat-raised-button class="reg-button" (click)='proceed()'>Proceed </button>
</div>
