<div class="nav-bar">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span (click)='getHome()' style="cursor: pointer;">TechEx</span>
        <span class="example-spacer"></span>
        <!-- <input type="text" placeholder="Search something" class="form-control" [(ngModel)]='searchParam' >
        <mat-icon *ngIf='searchParam!=""' class="search-icon" (click)="iconClick('search')">search</mat-icon> -->
        <mat-icon class="example-icon" (click)="iconClick('login')">perm_identity</mat-icon>
      </mat-toolbar-row>
      </mat-toolbar>
</div>
<router-outlet></router-outlet>
