.parallax {
    /* The image used */
    background-image: url('../../assets/images/3.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-jumbotron{
    background-color: black;
    opacity: 0.75;
    border-radius: 10px;
    top: 50%;
    width: 100%;
}
.date-display{
    display: inline-block;
    text-align: center;
    background: #f6f7f8;
    border: 1px solid rgba(46,62,72,.12);
    border-radius: 8px;
    padding: 8px;
    min-width: 36px;
    min-height: 36px;
}
.day{
    color: #f13a59;
    font-size: 20px;
}
.date-display.day, .date-display.month{
    display: block;
    text-align: center;
    line-height: 1.1;
    font-weight: 500;
}

.date-display.month{
    color: rgba(46,62,72,.6);
    font-weight: 500;
    text-transform: uppercase;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 64.1px;
    min-width: 100%; 
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    position: inherit;
    width: 70vw;
    display: block;
    padding: 40vh 0 0 10vw;
    color: #FFF;
}   
.content-in{
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 30px;
    width: 50%;
    border-radius: 15px;
}
.center-form{
    height: 72px;
    font-size: 2.5rem;
    font-weight: 300;
}
.example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  /* Bg-Video */

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
  }
  
  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
    }
  }
  
  @media (max-width: 767px) {
    .fullscreen-bg {
      background: url('https://material.angular.io/assets/img/examples/shiba1.jpg') center center / cover no-repeat;
    }
  
    .fullscreen-bg__video {
      display: none;
    }
  }



  .example-card {
    max-width: 400px;
    float: left;

}

/* 
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
} */

.card-body-img{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

#divLoading{
    margin-left: auto;
    margin-right: auto;
    position: fixed; 
    right: 0px; 
    top: 0px; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(102, 102, 102,0.6); 
    z-index: 30001; 
  }
  
  #divLoadingInner{
    position: absolute;
    color: White;
    top: 50%;
    left: 45%;
    opacity: 1 !important;
  }
  /deep/ p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  /deep/ .mat-form-field-flex{
    color: #000;
    background: white;
    font-size: 150%;
    border: 1px solid #fafafa;
    border-radius: 5px;
  }
  .parallax-h1{
    margin: -150px 0px 150px 15px;
    font-size: 40px; 
  }
  button{
    background: #ff4081;
    color: white;
    min-width: 20%;
}