
  <!-- <video autoplay muted loop id="myVideo">
        <source src="../../assets/images/background.mp4" type="video/mp4">
  </video> -->
  <!-- <div class="fullscreen-bg">
      <video loop muted autoplay  class="fullscreen-bg__video">
          <source src="../../assets/images/background.mp4" type="video/webm">
          <source src="video/big_buck_bunny.mp4" type="video/mp4">
          <source src="video/big_buck_bunny.ogv" type="video/ogg"> -->
      <!-- </video>
  </div>
  <div class="content">
  <div class="text-left">
    <h1>Explore events and find like minded people on your technical endeavour.</h1>
      <input class="form-control center-form" type="text" [(ngModel)]='searchTerm'
      placeholder="Tell us what you are looking for?" (keyup.enter)='submitSearch()'>
    
  </div>
  </div>  -->
<div class="parallax">
    <div class="content">
        <div class="text-left">
          <h1>Explore events and find like minded people on your technical endeavour.</h1>
            <!-- <input class="form-control center-form" type="text" [(ngModel)]='searchTerm'
            placeholder="Tell us what you are looking for?" (keyup.enter)='submitSearch()'> -->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Tell us what you'relooking for?" aria-label="State" [(ngModel)]='searchTerm'
                [matAutocomplete]="auto" [formControl]="stateControl" (keyup.enter)='submitSearch()'>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let name of filteredSuggestions | async" [value]="name">
                    <!-- <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" /> -->
                    <span>{{ name }}</span> 
                    <!-- <small>Population: {{state.population}}</small> -->
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
          
        </div>
    </div>
</div>
<div>
    <!-- <div *ngIf="eventsList.length>0; else eventsLoading"> -->

<hr>
<br>
<br>
<hr>
<!-- <br> -->

<div class="col-xs-12" style="min-height: 500px;">
  <mat-grid-list cols="3" >
    <mat-grid-tile  *ngFor="let event of eventsList"  class="pref-card"  (click)='select(event)'>
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>{{event.eventName}}</mat-card-title>
          <mat-card-subtitle>{{event.location}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="card-body-img" src="{{'./../assets/images/'+ event.imgKey +'.jpg'}}" onerror="this.src='../../assets/images/spring.jpg'" [alt]="event.imgKey">
        <mat-card-content>
          <p>{{event.description}}</p>
          <p>{{event.eventDate}}</p>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
      
</div>

<!-- <div  class="container">
  <div class="row">
    <div class="card col-sm-4 col-md-3"  *ngFor="let event of eventsList">
      <img class="card-img-top card-body-img" src="{{'./../assets/images/'+ event.imgKey +'.jpg'}}" [alt]="event.imgKey">
      <div class="card-body">
        <h4 class="card-title">{{event.eventName}}</h4>
        <p class="card-text">{{event.description}}</p>
        <p class="card-text">{{event.location}}</p>
        <p class="card-text">{{event.eventDate}}</p>
      </div>
      <div class="card-footer"><a href="#" class="btn btn-primary">Follow Link</a></div>  
    </div>
  </div>
</div> -->
</div>

<ng-template #eventsLoading>
  <div id="divLoading">
    <div id="divLoadingInner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</ng-template>
